.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 800px;
  overflow-y: auto;
  height: 80vh;
}

.user-message {
  background-color: #d3f1f1;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}

.gemini-message {
  background-color: #f1f1f1;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}

.input-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.send-button {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: white;
  /* color: #fff; */
  border: none;
  cursor: pointer;
}

textarea {
  height: 52px;
  width: 50vw;
  padding: 8px;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow-y: hidden;
  max-height: 200px;
}

.error-message {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}
.code-block {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  transition: ease 0.2s;
}

.copy-button:hover {
  background-color: #555;
}
.copy-button:active {
  scale: 0.9;
}
